.app-header {
    width: 100%;
    background-color: rgb(225, 219, 213);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 99;
}

.app-header .container {
    padding: 10px 30px 5px 30px;
    position: relative;
}

.app-header img {
    cursor: pointer;
    height: 150px;
}

.app-header .app-description {
    color: dimgray;
    font-style: italic;
    display: inline-block;
    padding-left: 30px;
    position: absolute;
    bottom: 25px;
}