.app {
  text-align: left;
  height: 100vh;
  background-color: rgb(76, 76, 76);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.app-content {
  height: calc(100vh - 170px);
  background-color: rgb(212, 199, 169);
  width: 700px;
  max-width: 700px;
  box-shadow: rgba(251, 240, 217) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}